body {margin-left: auto; margin-right: auto; width: 800px; font-family: verdana; font-size: 12pt;}
table {font-size: 12pt;}
bold {font-weight: bold;}
td#top {text-align: center; font-weight: bold; font-size: 15pt;}
a#top:link {text-decoration: none; color: black;}
a#top:visited {text-decoration: none; color: black;}
a#top:hover {text-decoration: none; color: black;}
a#top:active {text-decoration: none; color: black;}
ol {padding-left: 20px}
ul {list-style-type: disc; padding-left: 20px;}
ul#res {padding-bottom: 5px}
ul#res li {padding-bottom: 10px;}
hr#dash {border-top-style: dashed;}
table#bord {border: 1px solid black; border-collapse: collapse;}
tr#bord {border: 1px solid black;}
td#bord {border: 1px solid black; padding: 3px;}
